.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    padding-top: 10px;
}

.logo{
position: fixed;
left:20px;
width: 80px;
}

.name{
    position: fixed;
    left:130px;
    color: aliceblue;
    text-decoration: none;
}

.avatar{
    position: fixed;
    right:20px;
    width:30px;
}