.row{
    margin-left: 20px;
    color: #fff;
    padding-top: 50px;

}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.posters::-webkit-scrollbar
{
    display: none;
}
.poster
{
  
    cursor: pointer;
    max-height: 250px; 
    margin-right: 10px;
    border-radius: 4px;
}
.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
    max-width: 100%;
    border-radius: 4px;
}

.poster:hover{
    transform: scale(1.1);
    transition-duration: 400ms;
}
.smallPoster:hover{
    transform: scale(1.1);
    transition-duration: 300ms;
}